<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet 2" href="/static/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="comtainer">
      <div class="row">
        <div class="col">
          <h1>New author</h1>
        </div>
        <div class="col">
          <h1>All authors</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form
            class="form d-flex w-75 align-items-center"
            action="/create_author"
            method="POST"
          >
            <label for="name">Name:</label>
            <input class="form-control m-2" type="text" name="name" required />
            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="Create" />
            </div>
          </form>
        </div>
        <div class="col">
          <div class="borderer">
            {% for one_author in all_authors %}
            <a class="author_links" href="/authors/{{one_author.id}}"
              >{{one_author.name}}</a
            ><br />
            {% endfor %}
          </div>
          <a class="btn btn-primary mt-1" href="/books">All Books</a>
        </div>
      </div>
    </div>
  </body>
</html>
