<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet 2" href="/static/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="comtainer">
      <div class="row">
        <div class="col">
          <h1>New book</h1>
        </div>
        <div class="col">
          <h1>All books</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form class="form w-75" action="/create_book" method="POST">
            <label for="title">Title:</label>
            <input class="form-control m-2" type="text" name="title" required />
            <label for="num_of_pages">Number of Pages:</label>
            <input
              class="form-control m-2"
              type="text"
              name="num_of_pages"
              required
            />
            <div class="form-group">
              <input class="btn btn-primary" type="submit" value="Create" />
            </div>
          </form>
        </div>
        <div class="col">
          <table class="table">
            <thead>
              <th scope="col">Title</th>
              <th scope="col">Number of Pages</th>
            </thead>
            <tbody>
              {% for one_book in all_books %}
              <tr>
                <td>
                  <a class="book_links" href="/books/{{one_book.id}}"
                    >{{one_book.title}}</a
                  >
                </td>
                <td>
                  <span>{{one_book.num_of_pages}}</span>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a class="btn btn-primary mt-1" href="/authors">All Authors</a>
        </div>
      </div>
    </div>
  </body>
</html>
