<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet 2" href="/static/css/style.css">
    <title>Dojo</title>
</head>
<body>
    <div class="comtainer">
        <div class="row">
            <div class="col-md-10">
                {% for one_dojo in dojo %}
                <h1 class="header text-capitalize mb-3">{{one_dojo.name}}</h1>
                {% endfor %}
            <table class="borderer table table-hover table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Links</th>
                    </tr>
                </thead>
                <tbody class="borderer">
                {% for one_ninja in all_ninjas %}
                <tr class="">
                    <td>{{one_ninja.first_name}}</td> 
                    <td>{{one_ninja.last_name}}</td>
                    <td>{{one_ninja.age}}</td>
                    <td><a href="/ninjas/edit/{{one_ninja.id}}">edit</a>
                        <span> | </span>
                        <a href="/ninjas/delete/{{one_ninja.id}}">delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="/dojos">Home</a>
        </div>
    </div>
</body>
</html>